@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


/* --------- Global style */

body {
    background-color: black;
}

h1 {
    font-size: xx-large;
    font-family: 'Sour Gummy';

}

p {
    font-size: small;
    font-family: Roboto;
}

/* ------------- General styles */
.header img {
    float: left;
    width: 50px;
    height: 50px;
}


nav {
    font-size: small;
    font-family: 'Sour Gummy';
}


/* --------- Quiz styles */

#welcome-container {
    background-image: url(/assets/images/10070310.jpg);
    height: 100px;
    width: 100px;
}

#quiz-container {
    background-image: url(/assets/images/old-frame-4583939_1920.png);
    height: 100px;
    width: 100px;
}

.question-area {
    font-size: x-large;
    font-family: 'Sour Gummy';
}

#answer-buttons {

} 

.answer-btn {
    background-color: black;
    font-size: medium;
    font-family: Roboto;
}

#github img {
    float: left;
    width: 50px;
    height: 50px;
}

