@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


/* --------- Global style */

body {
    background-color: black;
}

h1 {
    font-size: xx-large;
    font-family: 'Sour Gummy';
    text-align: center;
    color: #F1F1F1;

}

p {
    font-size: small;
    font-family: Roboto;
    text-align: center;
    color: #F1F1F1;
}

#start-quiz-btn {
    display: flex;
    justify-content: center;
}

/* ------------- General styles */
.header img {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.container-fluid {
    padding-left: 60px;
}
.header {
    position: fixed;
}


nav {
    position: relative;
    font-size: small;
    font-family: 'Sour Gummy';
}


/* --------- Quiz styles */

.welcome-container {
    background-image: url(/assets/images/old-frame-4583939_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-container {
    background-image: url(/assets/images/10070310.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.question-area {
    font-size: x-large;
    font-family: 'Sour Gummy';
}

#answer-buttons {

} 

.answer-btn {
    background-color: black;
    font-size: medium;
    font-family: Roboto;
}

#github img {
    width: 10px;
    height: 10px;
}

footer {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 50px; 
    /* Adjust as needed */ 
    background-color: #F1F1F1; 
}

